<<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-b" href="#">Cepheus Trade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <marquee>
                <a class="nav-link active" aria-current="page" href="#"> USD 36.411 <span style="color: red"> ↓ </span> EUR 32.789 <span style="color: green"> ↑ </span> </a>
            </marquee>
      <div class="d-flex">
          <button type="button" class="btn btn-outline-danger me-3">Выход</button>
          <button type="button" class="btn btn-primary me-3">Авторизация</button>
          <img class="avatar" src="https://www.interfax.ru/ftproot/photos/photostory/2021/06/11/week4_1100.jpg">
      </div>
    </div>
  </div>
</nav>