<!doctype html>
    <html lang="ru" style="height: 100%">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../src/css/bootstrap.css">
        <link rel="stylesheet" href="../src/css/main.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <title>Cepheus Trade</title>
    </head>

    <body style="height: 100%">

<!-- ТИма короче на чистом хтмл вроде как нельзя подсосать файлик, поэтому я пок насру просто кодом      <include src="./header.html"></include>-->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-b" href="#">Cepheus Trade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">какая-то хуета</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">какая-то хуета</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            какая-то хуета
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">какая-то хуета</a>
        </li>
      </ul>
      <div class="d-flex">
          <button type="button" class="btn btn-primary me-3">Авторизация</button>
          <img class="avatar" src="https://www.interfax.ru/ftproot/photos/photostory/2021/06/11/week4_1100.jpg">
      </div>
    </div>
  </div>
</nav>

<section data-aos-duration="1500" data-aos="fade-up" style="margin-bottom: -49px; padding-bottom: 2.5rem; background: url(../src/img/dollar.png), linear-gradient(180deg, #EEECEC 0%, rgba(53, 168, 201, 0.71) 72.17%, rgba(0, 71, 255, 0) 184.76%) no-repeat; animation: gradient 8s ease infinite;" class="">
<div style="margin-bottom: 22%;" class="container">
    <div style="text-align: center;">
        <h1 data-aos-duration="1500" data-aos="zoom-in-up" class="display-2" style="color: #5DA6BB;">Денег много не бывает</h1>
        <h1 data-aos-duration="1500" data-aos="zoom-in-up" class="display-6" style="color: #5DA6BB;" > Откройте валютный счёт уже сегодня</h1>
    </div>
</div>

<div style="" class="container-sm mt-5">
    <div class="row">
        <div data-aos-duration="1500" data-aos="fade-right" class="col mb-3">
            <div  class="card h-100 " style="background: rgba(177, 190, 191, 0.15);border-radius: 35px;">
                <div style="text-align: center;" class="card-body">
                    <i style="font-size: 180px; color: #5DA6BB" class="fa-solid fa-chart-line"></i>
                </div>
              <div align="center" class="card-body">
                  <h1 class="display-6" style="color: #5DA6BB;">Персональная аналитика</h1>
              </div>
            </div>
        </div>

        <div data-aos-duration="1500" data-aos="fade-up" class="col mb-3">
            <div class="card h-100 " style="background: rgba(177, 190, 191, 0.15);border-radius: 35px; ">
                <div style="text-align: center;" class="card-body">
                    <i style="font-size: 180px; color: #5DA6BB" class="fa-solid fa-hand-holding-dollar"></i>
                </div>
              <div align="center" class="card-body">
                  <h1 class="display-6" style="color: #5DA6BB;">Без комиссии</h1>
              </div>
            </div>
        </div>

            <div data-aos-duration="1500" data-aos="fade-left" class="col mb-3">
                <div class="card h-100" style="background: rgba(177, 190, 191, 0.15);border-radius: 35px;">
                    <div style="text-align: center;" class="card-body">
                        <i style="font-size: 180px; color: #5DA6BB" class="fa-solid fa-magnifying-glass-chart"></i>
                    </div>
                  <div align="center" class="card-body">
                      <h1 class="display-6" style="color: #5DA6BB;">Актуальный курс</h1>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background: linear-gradient(180deg, rgba(189,210,222,1) 0%, rgba(53,168,201,0.6096813725490196) 100%) no-repeat; padding-top: 2.5rem;padding-bottom: 2.5rem;">
<div style="text-align: center" class="container-sm mt-5">
    <h1 data-aos-duration="1500" data-aos="zoom-in-up" class="display-3 mb-5" style="color: white;">Преимущества платформы</h1>
        <div data-aos-duration="1500" data-aos="zoom-in-right" style="background: linear-gradient(180deg, rgb(109 195 221 / 61%) 22%, rgba(255,255,255,1) 86%); border-radius: 16px;border: none;" class="card mb-5">
          <div style="padding-left: 1%; padding-right: 1%;" class="row g-0">
            <div class="col-md-6">
              <img src="../src/img/fast.png" class="img-fluid rounded-start" alt="Быстро">
            </div>
            <div class="col-md-6 my-auto">
              <div data-aos-duration="1500" data-aos="fade-left" class="card-body">
                <h5 style="color: white;font-size: 3.2rem;" class="display-6">Быстро</h5>
                <h5 style="color: #61bbd3;font-weight: bold;" align="left">Наш сайт оперативно получает и передаёт вам актуальную информацию курса валют с проверенных источников </h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>

        <div data-aos-duration="1500" data-aos="zoom-in-left" style="background: linear-gradient(180deg, rgb(109 195 221 / 61%) 22%, rgba(255,255,255,1) 86%); border-radius: 16px;border: none;" class="card mb-5">
          <div style="padding-left: 1%; padding-right: 1%;" class="row g-0">
            <div class="col-md-6 my-auto">
              <div data-aos-duration="1500" data-aos="fade-right" class="card-body">
                <h5 style="color: white;font-size: 3.2rem;" class="display-6">Доступно</h5>
                <h5 style="color: #61bbd3;font-weight: bold;" align="left">Наш сайт доступен каждому! В любое время дня и ночи вы можете создать неограниченное количество счетов и пользоваться ими</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
              <div class="col-md-6">
              <img src="../src/img/acess.png" class="img-fluid rounded-start" alt="Быстро">
            </div>
        </div>
    </div>

    <div data-aos-duration="1500" data-aos="zoom-in-right" style="background: linear-gradient(180deg, rgb(109 195 221 / 61%) 22%, rgba(255,255,255,1) 86%); border-radius: 16px;border: none;" class="card mb-5">
              <div style="padding-left: 1%; padding-right: 1%;" class="row g-0">
                <div class="col-md-6">
                  <img src="../src/img/comfort.png" class="img-fluid rounded-start" alt="Быстро">
                </div>
                <div class="col-md-6 my-auto">
                  <div data-aos-duration="1500" data-aos="fade-left" class="card-body">
                    <h5 style="color: white;font-size: 3.2rem;" class="display-6">Удобно</h5>
                    <h5 style="color: #61bbd3;font-weight: bold;" align="left">Совершайте операции покупки и продажи валюты на разных счетах, пользуйтесь нашим прогнозированием курса валюты </h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
    </div>

</div>

</section>

<section style="padding-top: 2.5rem;padding-bottom: 2.5rem;">
    <div style="text-align: center" class="container-sm mt-5">
        <h1 data-aos-duration="1500" data-aos="zoom-in-up" align="center" class="display-3 mb-5" style="color: #5DA6BB;">Наша команда</h1>
    <div class="card-group">
  <div data-aos-duration="1500" data-aos="flip-up" class="card">
    <img style="max-height: 19.9vh;object-fit: cover;" src="../src/img/timajpg.jpg" class="card-img-top" alt="Тимофей">
    <div class="card-body">
      <h5 class="card-title">Тимофей Мальцев </h5>
      <p class="card-text">Python backend</p>
    </div>
    <div class="card-footer">
        <a href="t.me/KlenoviySirop"><i class="fa fa-telegram"> @KlenoviySirop</i></a>
    </div>
  </div>
  <div data-aos-duration="1500" data-aos="flip-down" class="card">
    <img style="max-height: 19.9vh;object-fit: cover;" src="../src/img/dimajpg.jpg" class="card-img-top" alt="Дима">
    <div class="card-body">
      <h5 class="card-title">Дмитрий Денисенко</h5>
      <p class="card-text">Java backend</p>
    </div>
    <div class="card-footer">
        <a href="t.me/RickPick0"><i class="fa fa-telegram"> @RickPick0</i></a>
    </div>
  </div>
  <div data-aos-duration="1500" data-aos="flip-up" class="card">
    <img style="max-height: 19.9vh;object-fit: cover;" src="../src/img/papich.jpg" class="card-img-top" alt="Ваня">
    <div class="card-body">
      <h5 class="card-title">Иван Красильников</h5>
      <p class="card-text">Java backend</p>
    </div>
    <div class="card-footer">
        <a href="t.me/kkrasilnikovv"><i class="fa fa-telegram"> @kkrasilnikovv</i></a>
    </div>
  </div>
        <div data-aos-duration="1500" data-aos="flip-down" class="card">
    <img style="max-height: 19.9vh;object-fit: cover;" src="../src/img/danya.jpg" class="card-img-top" alt="Петя">
    <div class="card-body">
        <h5 class="card-title">Даниил Сомов</h5>
      <p class="card-text">DS/ML</p>
    </div>
    <div class="card-footer">
        <a href="t.me/ndnajdks"><i class="fa fa-telegram"> @ndnajdks</i></a>
    </div>
  </div>
        <div data-aos-duration="1500" data-aos="flip-up" class="card">
    <img style="max-height: 19.9vh;object-fit: cover;" src="../src/img/petya.jpg" class="card-img-top" alt="Даня">
    <div class="card-body">
        <h5 class="card-title">Пётр Воронцов</h5>
      <p class="card-text">Frontend</p>
    </div>
    <div class="card-footer">
        <a href="t.me/supet1337"><i class="fa fa-telegram"> @supet1337</i></a>
    </div>
  </div>
</div>
    </div>
</section>


<section style="background: linear-gradient(180deg, rgba(189,210,222,1) 0%, rgba(53,168,201,0.6096813725490196) 100%) no-repeat; padding-top: 2.5rem;padding-bottom: 2.5rem;">
<div style="text-align: center" class="container-sm mt-5">
    <h1 data-aos-duration="1500" data-aos="zoom-in-up" align="center" class="display-3 mb-5" style="color: white;">Блог</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
<!--        {% for blog in blogs %}-->
      <div data-aos-duration="1500" data-aos="fade-in" class="col">
        <div class="card">
            <a href="{{blog.href}}"><img style="max-height: 396px;object-fit: cover;" src="https://static-cse.canva.com/blob/847064/29.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{blog.name}}</h5>
            <p class="card-text">{{blog.desc}}This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
<!--        {% endfor %}-->
      <div data-aos-duration="1500" data-aos="fade-in" class="col">
        <div class="card">
          <img style="max-height: 396px;object-fit: cover;" src="https://cdn.fotosklad.ru/unsafe/24d33472d338457ebe3ed0f8cc0ba6a9/image.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div data-aos-duration="1500" data-aos="fade-in" class="col">
        <div class="card">
          <img style="max-height: 396px;object-fit: cover;" src="https://bigpicture.ru/wp-content/uploads/2015/11/nophotoshop29-800x532.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div data-aos-duration="1500" data-aos="fade-in" class="col">
        <div class="card">
          <img style="max-height: 396px;object-fit: cover;" src="https://www.biletik.aero/upload/medialibrary/807/807f262b60da392f1e09aa6d33f20a9b.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>

        <script src="https://kit.fontawesome.com/3dee05229a.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script><script>AOS.init();</script>
    </body>
</html>