<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../src/css/bootstrap.css">
        <link rel="stylesheet" href="../src/css/main.css">
        <title>Регистрация для администротора</title>
    </head>

    <body>

    <section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block background-card" style="background-image: url('../src/img/login.jpg')">
            </div>
            <div class="col-xl-6 text-center">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Регистрация для администротора</h3>

                <div class="row mb-4">
                  <div class="col-md-6">
                    <div class="form-outline">
                      <input type="password" required class="form-control" id="firstName" placeholder="Имя">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-outline">
                      <input type="password" required class="form-control" id="lastName" placeholder="Фамилия">
                    </div>
                  </div>
                </div>

                <form method="POST" class="form-outline mb-4">
                  <input type="email" required class="form-control mb-4" id="inputEmail" placeholder="Email">
                  <input type="password" required class="form-control mb-4" id="inputPassword1" placeholder="Пароль">
                  <input type="password" required class="form-control mb-4" id="inputPassword2" placeholder="Повторите пароль">

                  <button type="submit" style="background-color: #00E797; width: 100%; color: white;" class="btn btn-lg brd-n">Зарегистрироваться</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>